h1{font-size: 30px;}
body{
/*   backgroung-color: def0fc; 
   background-color: 171c15; */
   background-color: #262c3a
}
.layout{
   background-color: #f1e5d5;
   margin-top: 5em;
   margin-right: 10em;
   margin-left: 10em;
   margin-buttom: 1em;
}
