/%h1 Listing savings
/ 
/%table
/  %tr
/    %th Balance amount
/    %th
/    %th
/    %th
/ 
/  - @savings.each do |saving|
/    %tr
/      %td= saving.balance_amount
/      %td= link_to 'Show', saving
/      %td= link_to 'Edit', edit_saving_path(saving)
/      %td= link_to 'Destroy', saving, :confirm => 'Are you sure?', :method => :delete

/%br

/= link_to 'New Saving', new_saving_path

%h1 Balance

- @savings.each do |saving|
  %p
    %u
      Now the Current Balance is :      
    %b= number_to_currency(saving.balance_amount)
